.homeForm {
    margin: auto;
    width: 400px;
    transition: .5s;
}

span {
    opacity: .8;
}

@media screen and (max-width: 450px) {
    .homeForm {
        width: 95%;
        transition: .5s;
    }
}