button {
    width: 100%;
    border: none;
    background-color: rgb(72, 20, 124);
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    button {
        width: 95%;
    }
}