.usageForm {
    margin: auto;
    width: 400px;
    transition: .5s;
}

.innerCard {
    display: flex;
}

@media screen and (max-width: 450px) {
    .usageForm {
        width: 95%;
        transition: .5s;
    }
}